#contact {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}

#contact img {
    width: 400px;
}

#contact form {
    display: flex;
    flex-direction: column;
    background-color: var(--background--header-topBar);
    padding: 50px;
    border-radius: 10px;
    width: 50%;
}
#contact form h2 {
    text-align: center;
    padding-bottom: 40px;
    text-decoration: underline 2px var(--color-buttons);
    -webkit-text-decoration-underline: underline 2px var(--color-buttons);
}
#contact form input[type=text], textarea, input[type=email], input[type=tel] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-left: 0px;
    resize: vertical;
}
#contact form label {
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}
#contact form .required {
    color: red;
}
#contact form p {
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
}
#contact form input[type=submit] {
    background-color: var(--color-buttons);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all ease-in-out .2s;
}
#contact form input[type=submit]:hover {
    background-color: var(--color-buttons-hover);
}

@media screen and (max-width: 835px) {
    #contact {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #contact img {
        width: 200px;
    }
    
    #contact form {
        width: 90%;
    }
}