#subsidiaries .subsidiaries_container {
    display: flex;
    align-items: center;
    padding: 50px;
}
#subsidiaries .subsidiaries_container article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2c2c2c;
    text-align: center;
    padding: 50px;
    margin: 20px;
    min-width: 150px;
    min-height: 500px;
    border-radius: 5px;
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 15px;
    transition: all ease-in-out .3s;
}
#subsidiaries .subsidiaries_container article:hover {
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 50px;
}
#subsidiaries .subsidiaries_container article img {
    width: 80px;
    margin-bottom: 35px;
    padding: 10px;
    background-color: black;
    border-radius: 50px;
    border: 2px solid white;
}
#subsidiaries .subsidiaries_container article h2 {
    margin-bottom: 35px;
    cursor: default;
}
#subsidiaries .subsidiaries_container article p {
    margin-bottom: 35px;
    cursor: default;
}
#subsidiaries .subsidiaries_container article a {
    padding: 10px 15px;
    background-color: var(--color-buttons);
    border-radius: 20px;
    transition: all ease-in-out .2s;
}
#subsidiaries .subsidiaries_container article a:hover {
    background-color: var(--color-buttons-hover);
}

@media screen and (max-width: 900px) {
    #subsidiaries .subsidiaries_container {
        flex-direction: column;
        padding: 50px 0;
    }

    #subsidiaries .subsidiaries_container article {
        width: 64%;
    }
}